h1 {
    text-align: center;
}
.choice-container {
    display: flex;
    justify-content: center;
    
}

.choice {
    margin: 20px;
    width: 300px;
    height: 300px;
    border-color: blue;
    background-color: green;

}